* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-color);
}

body * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}